<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="ev4.aspx">
                    <add key="/ev4" value="ev4.aspx" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule for ev4.aspx">
                    <match url=".*" />
                    <conditions>
                        <add input="{ev4.aspx:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
